{% extends 'admin/admin_base.html' %}

{% block title %}Kelola Produk - Admin{% endblock %}
{% block page_title %}Kelola Produk{% endblock %}

{% block admin_content %}
<div class="uk-margin" style="padding-left: 2rem;">
    <a href="{{ url_for('add_product') }}" class="uk-button uk-button-primary"><span uk-icon="plus" style="color: #fff;"></span> Tambah Produk Baru</a>
</div>

<div class="uk-overflow-auto" style="padding-left: 2rem;">
    <table class="uk-table uk-table-hover uk-table-striped uk-table-middle uk-table-responsive">
        <thead>
            <tr>
                <th>Gambar</th>
                <th>Nama Produk</th>
                <th>Kategori</th>
                <th>Harga</th>
                <th class="uk-text-center">Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="uk-animation-slide-bottom">
                <td>
                    <img src="{{ product.image_url if product.image_url else url_for('static', filename='img/placeholder.jpg') }}"
                         alt="{{ product.name }}" width="60" class="uk-border-rounded">
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>Rp {{ "{:,.0f}".format(product.price) }}</td>
                <td class="uk-text-center">
                    <a href="{{ url_for('edit_product', id=product._id) }}" class="uk-button uk-button-small uk-button-default uk-margin-small-right">Edit</a>
                    <form action="{{ url_for('delete_product', id=product._id) }}" method="POST" class="uk-display-inline">
                        <button type="submit" class="uk-button uk-button-small uk-button-danger" onclick="return confirm('Anda yakin ingin menghapus produk ini?')">Hapus</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="uk-text-center uk-text-muted">Belum ada produk yang ditambahkan.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}